<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.justodit.dao.CommentMapper">

    <sql id="selectFields">
        id, user_id, entity_type, entity_id, target_id, content, status, create_time
    </sql>
    <sql id="insertComment">
         user_id, entity_type, entity_id, target_id, content, status, create_time
    </sql>

<!--    查询评论-->
    <select id="selectCommentByEntity" resultType="com.justodit.entity.Comment" parameterType="integer">
        select <include refid="selectFields"></include>
        from comment
        where status=0
        and entity_type=#{entityType}
        and entity_id=#{entityId}
        order by create_time asc
        limit #{offset}, #{limit}
    </select>

<!--    查询总评论数-->
    <select id="selectCountByEntity" resultType="integer" parameterType="integer">
        select count(*)
        from comment
        where status=0
        and entity_type=#{entityType}
        and entity_id = #{entityId}
    </select>

    <!--添加评论-->
    <insert id="insertComment" parameterType="com.justodit.entity.Comment">
        insert into comment(<include refid="insertComment"></include>)
        values(#{userId},#{entityType},#{entityId},#{targetId},#{content},#{status},#{createTime})
    </insert>

    <select id="selectCommentById" resultType="com.justodit.entity.Comment" parameterType="integer">
        select <include refid="selectFields"></include>
        from comment
        where id = #{id}
    </select>

</mapper>